:root {
    --primary-color: #013A80;
    --secondary-color: #232560;
    --accent-1-color: #212F6D;
    --accent-color: #F4F4F4;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px; /* Adjust the size of the logo as needed */
    height: auto;
}

.list-container {
    display: flex;
    gap: 20px; /* Adds space between the navigation links */
}

.list-container li {
    list-style: none;
}

.list-container li a {
    color: var(--accent-color);
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Montserrat';
}

p{
    font-family: 'Lora';
    /* color: var(--primary-color); */
}

.history-section p {
    color: var(--accent-color);
} 

a {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
}

ul li {
    list-style: none;
}

.hero {
    position: relative;
    background-image: url('images/rafting-wide-image.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--accent-color);
}

.hero h1, .home-article{
    position: absolute;
    top: 1px;
    left: 350px;
    color: var(--secondary-color);
    z-index: 1;
    text-align: center;
    background-color: RGBA(255, 255, 255, 0.8);
    border-radius: 10px;
}

.home-hero h1{
    position: absolute;
    top: 170px;
    left: 350px;
    color: var(--secondary-color);
    z-index: 1;
    text-align: center;
    background-color: RGBA(255, 255, 255, 0.8);
    border-radius: 10px;
}

.hero img, .home-hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero-article ,article{
    position: absolute;
    top: 15px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 100px;
    border-radius: 10px;
    width: 940px;
    justify-items: center;
}
/* 
.home-hero {
    height: 400px;
} */

figure img {
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 120px;
}

/* .hero article {
    position: absolute;
    top: 15px;
    padding: 30px;
} */

.hero article p, figure p{
    font-size: 15px;
    color: var(--primary-color);
}

.hero article h2, .address-div1 h2 ,.trip-subsection div figure figcaption{
    color: var(--primary-color);
}


/* article {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 100px;
    border-radius: 10px;
    /* height: 60px; */


section h2, .offerings-section figure p{
    color: var(--accent-color);
    text-align: center;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

/*Our team container css styling */
.our-team-img-container, .trip-subsection div, .offerings-section div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

section img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.adventure-section-cls-container, .trip-table,.offerings-section {
    padding: 2px;
    background-color: var(--accent-1-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    border-top: 1px solid #ccc;
    color: var(--accent-color);
}

.copyright-container {
    flex: 1;
    text-align: center;
    font-family: 'Montserrat';
}

.history-subsection {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    color: var(--accent-color);
}

.history-section {
    background-color: var(--primary-color);
    padding: 25px;
}

.trip-catalogue {
    background-color: var(--accent-color);
}

/*Address-container contains the map and the address of the company*/
.address-container {
    width: auto;
    height: 400px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-around;
}

.address-section {
    margin: 0;
}

.address-div1, .map {
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin: 10px;
    color: var(--primary-color);
}

.map iframe{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

/*Contact form section*/
.contact-form, form  {
    width: 350px;
    height: 470px;
    background-color: var(--accent-color);
    justify-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;*/
    align-items: start; 
    justify-content: space-around;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    height: 510px;
}

.email, .name {
    width: 295px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    padding: 5px;
    align-self: center;
}

.message {
    width: 295px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding: 5px;
    align-self: center;
}

.submit ,.cta-btn{
    width: auto;
    height: 25px;
    border-radius: 7px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
    align-self: center;
    font-weight: 500;
    font-family: 'Montserrat';
}

.cta-hero-btn {
    position: absolute;
    margin-top: 200px;
    width: auto;
    height: 25px;
    border-radius: 7px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
    align-self: center;
    font-weight: 500;
    font-family: 'Montserrat';
}

.radio-group {
    display: flex;
}

/* Apply Montserrat font to placeholder text */
input::placeholder,
textarea::placeholder, label, .submit {
    font-family: 'Montserrat', sans-serif;
}


input[type="radio"],label {
    height: 8px;
    font-size: 12px;
}

.checkbox-group {
    display: flex;
}

input[type="checkbox"] {
    height: 11px;
    font-size: 13px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    
}

footer .copyright-container p {
    color: var(--accent-color) ;
    font-family: 'Montserrat';
}

figure figcaption {
    text-align: center;
    color: var(--accent-color);
    font-family: 'Montserrat';
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
    padding: 3px;
    color: var(--accent-color);
}

thead th {
    background-color: var(--primary-color);
    /* color: var(--accent-color); */
    padding: 10px;
    text-align: start;
    font-family: 'Montserrat';
}

tbody td {
    padding: 10px;
    text-align: start;
    font-family: 'Montserrat';
}